* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black, purple, white) center/cover no-repeat;
    height: 100%;
    width: 100%;
    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 1000px;
        
        div.button-generate-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 50px;
            border-radius: 2px;
            border: 1px solid transparent;
            background: #fff;
            transition: all .3s;
            margin-bottom: 40px;
            
            span {
                font-size: 14px;
                font-weight: bold;
                color: #000;
            }
            
            &:active {
                border: 1px solid #000;
            }
            
            &:hover {
                cursor: pointer;
            }
        }
        
        div.informations {
            opacity: 0;
            overflow: hidden;
            transition: all .3s;
            background: #fff;
            border-radius: 3px;
            padding: 12px;
            width: 300px;
            height: 300px;  
            
            &.active {
                opacity: 1;
            }
            
            p {
                color: #000;
                
            }
        }
    }
}